Source: snakebuild
Section: devel
Priority: optional
Maintainer: Mathias Weber
Build-Depends: debhelper (>=7.0.50~), python, python-support (>= 0.6), cdbs (>= 0.4.49)
Standards-Version: 3.8.4

Package: snakebuild
Architecture: all
Homepage: http://github.com/mweb/snake-build/
Depends: ${misc:Depends}, ${python:Depends}
Description: A Python based buildserver for C/C++ targets.
 This python based build server has the goal to deliver an easy to use C/C++
 build server. It might work for other languages. The most important part is
 that all the scripts and configs are managed with a version control system.
